<div class="flex row ">
  <div class="project-info">
    <p>
    <strong>Name:</strong>
    <%= @project.name %>
    </p>

    <p>
    <strong>License:</strong>
    <%= @project.license %>
    </p>
    <p>
    <strong>Description:</strong>
    <%= @project.description %>
    </p>

    <%= link_to 'Edit', edit_project_path(@project) %>
  </div>
  <div>
    <%= render '/areas/index' %>
  </div>
</div>

<%= form_for @invite , :url => invites_path do |f| %>
    <%= f.hidden_field :project_id, :value => @project.id%>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Send' %>
<% end %>
