<div class="flex row padded-children">
  <div class="flex column padded-children">
    <div class="project-info">
      <p>
      <strong>Name:</strong>
      <%= @project.name %>
      </p>

      <p>
      <strong>License:</strong>
      <%= @project.license %>
      </p>
      <p>
      <strong>Description:</strong>
      <%= @project.description %>
      </p>

      <%= link_to 'Edit', edit_project_path(@project) if @role == "admin" %>
    </div>

    <%= render 'invite_admins', project: @project, invite: @invite if @role == "admin" %>
    <%= render 'invite_collaborators', project: @project, invite: @invite %>

  </div>
  <div>
    <%= render '/areas/index', role: @role %>
  </div>
</div>

