<div class="flex column col-md-4">
  <%= form_for(area) do |f| %>

    <% if area.errors.any? %>
      <div class="alert alert-danger">
        <%= pluralize(area.errors.count, "error") %> prevented this area from being saved:

        <ul>
          <% area.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-fields">
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :floor_plan %><br>
        <%= f.file_field :floor_plan %>
      </div>

      <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>

      <div>
        <%= f.hidden_field :project_id, :value => params[:project_id] %>
      </div>

      <div class="footer">
        <div class="button"><%= submit_tag 'Save', class: "clear-formatting"%> </div>
        <div class="button"><%= link_to 'Back', project_path(area.project), class: "clear-formatting" %></div>
      </div>
    </div>
  <% end %>
</div>
