<p id="notice"><%= notice %></p>

<h1>Areas of <%= @map.name.html_safe %></h1>

<table class="table table-striped">
  <tbody class= "flex flex-row-wrap padded-children">
    <% @map.areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td> <%= image_tag area.floor_plan.thumb.url %></td>
        <td><%= link_to 'Show', area_path(area) %></td>
        <td><%= link_to 'Edit', edit_area_path(area) if role == "admin" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area', new_map_area_path(@map) if role == "admin" %>
