<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @area.project.name %>
</p>

<p>
  <strong>Image:</strong>
  <div class="interactive_map">
    <%= content_tag "div",
      id: "map",
      data: {
      floor_plan_url: @area.floor_plan.full_map.url,
      width: @area.floor_plan.model.width,
      height: @area.floor_plan.model.height
    } do %>
  </div>
<% end %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @area.floor_plan.file.filename %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', project_path(@area.project) %>
<%= button_to 'Destroy', @area, method: :delete, data: { confirm: 'Destroy area?' } %>
