<div class='top-bar'>
  <div class='flex space-between' style="height: 100%">
    <div class="flex column center-justify">
      <%= link_to 'JobWalk', '/', class: "logo" %>
    </div>
    <div class="flex">
      <% if user_signed_in? %>
        <%= link_to 'Users', users_path, class: "navBarLink flex center"%>
        <%= link_to 'Log out', destroy_user_session_path, method: 'delete', class: "navBarLink flex center"%>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: "navBarLink flex center"%>
        <%= link_to 'Sign up', new_user_registration_path, class: "navBarLink flex center"%>
      <% end %>
    </div>
  </div>
</div>
