<!DOCTYPE html>
<html>
  <head>
    <title>Dungeoneer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class='flex column center-justify main'>
      <% flash.each do |message_type, message| %>
        <div id="flash" class="notice alert-info"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>

    <div id='react'></div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
