<div class="padded-children">
  <strong> Invite Administrator </strong>
  <%= form_for invite , :url => invites_path do |f| %>
    <%= f.hidden_field :project_id, value: @project.id %>
    <%= f.hidden_field :role, value: "admin"%>
    <div class="form-fields">
      <%= f.email_field :email, placeholder: 'example@email.com' %>
    </div>
    <br>

    <div class="footer">
      <%= f.submit 'Send', class: "button" %>
    </div>
  <% end %>
</div>
